* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #dedee2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;

}

.quiz-container {
  margin: 0;
  padding: 2.5em;
  width: 550px;
  min-height: 550px;
  background: #F5F7FB;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.decor {
  position: absolute;
  z-index: 0;

}

.decor-upper-right { 
  fill: rgb(250, 247, 203);
  width: 300px;
  top: -120px;
  right: -120px;
  transform: rotate(310deg);
}

.decor-lower-left {
  fill: rgb(201, 228, 247);
  width: 300px;
  bottom: -150px;
  left: -100px;
  transform: rotate(25deg);
}

.welcome-container {
  display: none;
}

.welcome-container h1 {
  color: #4D5B9E;
  margin: 0;
}

.welcome-container p {
  margin: .75em;
}

.btn {
  background: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.start-game-btn {
  padding: .75em 3em;
  margin: 1em;
  font-size: 1rem;
}

.check-answer-btn {
  margin-top: 1em;
  padding: .5em 2em;
}

.all-questions {
  z-index: 100;
}

.question-container {
  margin: 0 auto;
  text-align: left;
  color: #293264;
}

.question-container h3 {
  font-size: 1rem;
  margin:0;
  margin-bottom: .75em;
  
}

.question-container hr {
  border: .5px solid #edeff8
}

.answer-container {
  display: flex;
  margin-bottom: 1.5em;
}

.answer-container div {
  font-size: 10.24px;
  color: #293264;
  border: .75px solid #4D5B9E;
  margin-right: 10px;
  padding: 4px 13px;;
  border-radius: 15px;
  cursor: pointer
}