* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

 body {
  background-color: #dedee2;
  font-family: "Inter", sans-serif;
  padding: .5em;
}

.quiz-container {
  margin: 1.5em auto;
  padding: 3em;
  width: 550px;
  border-radius: 10px;
  min-height: 550px;
  background: #f5f7fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.welcome-container h1 {
  color: #4d5b9e;
  margin: 0;
  font-size: 2.5rem;
}

.welcome-container p {
  margin: 0;
  color: #293264;
}

.category-container {
  margin-top: 3em;
  display: grid;
  grid-template: auto auto auto/ auto auto;
}

.btn {
  background: #4d5b9e;
  color: #f5f7fb;
  border: none;
  border-radius: 7px;
  cursor: pointer;
} 

.category-btn {
  padding: 0.75em 3em;
  margin: 0.5em;
  font-size: 1rem;
} 

.new-ctg-btn {
  margin-left: 5px;
}

.check-answer-btn,
.play-again-btn,
.new-ctg-btn {
  padding: 0.5em 2em
}

.question-container {
  margin: 0 auto;
  text-align: left;
  color: #293264;
}

.question-container h3 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.75em;
}

.question-container hr {
  border: 0.5px solid #edeff8;
}

.answer-container {
  display: flex;
  justify-content: left;
  margin-bottom: 1.5em;
}

.answer-container div {
  font-size: 10.24px;
  color: #293264;
  border: 0.75px solid #4d5b9e;
  margin-right: 10px;
  padding: 4px 13px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.result-container {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}

span {
  color: #293264;
  font-size: 12;
  font-weight: 700;
  padding-right: 15px;
} 

@media (max-width: 450px) {

  .body {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  .quiz-container {
    width: 95%;
    min-height: 97vh;
    margin: 0 auto;
    padding: 1em;
  }

  .btn {
    font-size: 0.75rem;
  }

  .category-btn {
    padding: 7% 15%;
    width: 100%;
  }

  .new-ctg-btn,
  .play-again-btn {
    align-items: center;
    padding: 0.3em 1.5em;
    width: auto;
  }

  .check-answer-btn {
    margin-top: 1em;
  }

  .welcome-container {
    padding: 5em;
    width: 100%
  }

  .category-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }

  .question-container {
    margin: 0 auto;
    text-align: left;
    color: #293264;
    width: 100%;
  }

  .all-questions {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .question-container h3 {
    font-size: 1.2rem;
    margin-bottom: 1em;
    line-height: 1.3;
  }

  .question-container hr {
    margin-top: 0.5em;
    border: 0.2px solid #edeff8;
  }

  .answer-container {
    display: flex;
    margin-bottom: .85em;
    justify-content: left;
  }

  .answer-container div {
    font-size: 0.75rem;
    border: 0.5px solid #4d5b9e;
    margin-right: 6px;
    padding: 3px 9px;
    border-radius: 10px;
  }

  .result-container {
    margin-top: 1em;
    padding: 0 auto;
  }
  
  span {
    font-size: 0.75rem;
    text-align: center;
  }
}
