* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #dedee2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;

}

.quiz-container {
  margin: 0;
  min-width: 550px;
  min-height: 550px;
  background: #F5F7FB;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: -2;
  position: relative;
  overflow: hidden;
}

.decor {
  position: absolute;
  z-index: 0;

}

.decor-upper-right { 
  fill: rgb(250, 247, 203);
  width: 300px;
  top: -110px;
  right: -100px;
  transform: rotate(310deg);
}

.decor-lower-left {
  fill: rgb(201, 228, 247);
  width: 300px;
  bottom: -110px;
  left: -100px;
  transform: rotate(25deg);
}

.welcome-container h1 {
  color: #4D5B9E;
  margin: 0;
}

.welcome-container p {
  margin: .75em;
}

.start-game-btn {
  background: #4D5B9E;
  color: #F5F7FB;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: .75em 3em;
  margin: 1em;
  cursor: pointer;
}